html, body , #wrapper {
  font-family: 'Poiret One', sans-serif;
  position: relative;
  width: 100%;
  height: 100% ;
  color: white;
  background-color: black;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background: #6819e8; /* Old browsers */
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 ); /* IE6-9 */
}
.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.jumbotron {
    height: 100%;
    width: 100%;
    color: #fff;
    padding-top: 79px;
    padding-bottom: 0;
    display: table;
}
.name{font-size: 40px;}

@media (max-width: 1000px) {
    .center{
      left:25%;
      top:25%;
      position:absolute;
      width:50%;
      height:300px;
      text-align:center;
      vertical-align: center;
      max-width:500px;
      max-height:500px;
    }

}
@media (min-width: 1000px) {
    .center{
      left:50%;
      top:25%;
      position:absolute;
      width:500px;
      margin-left:-250px;
      text-align:center;
      vertical-align: center;
      max-width:500px;
      max-height:500px;
    }

}
.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  color: 'black';
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons li a i {
  font-size: 20px;
}
.gap{
  padding-left: 5px;
  padding-right: 5px;
}
.fa{
  font-size: 40px;
}

a:hover
{
     color:rgba(255,255,255,0.7);
     text-decoration:none;
     cursor:pointer;
}

a{
  color: rgba(255,255,255,0.7);
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.mobile{
  height: 1px;
}
.mobile-number{
  visibility: hidden;
  font-size: 10px;
}

#projects, #skills, #contact{
  visibility: hidden;
  max-width: 1000px;
  max-height: 1000px;
  position: absolute;
  top: 100%;
}

#projects{
  left: 0px;
}
#skills{
  right: 0px;
}
#contact{
  font-family: sans-serif;
}

.proj-heading{
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

  li {
    display: inline-block;
    /*width: 50%;*/
  }

  @media only screen and (max-width: 768px) {
  .proj-heading{
    font-size: 10px;
  }
  .name{font-size: 30px;}

}

.more{
  position: absolute;
  left: -10%;
}

footer{
  position: fixed;
  bottom: 0;
  right: 40%;
  padding: 0;
  margin: 1em;
}
